/* Santiago Lun 2032367 */

body {
    background-image: url("../icons/space.jpg");
    font-family: 'Roboto Mono', monospace;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#getData {
    padding:0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.15em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto', monospace;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    background-color:#5643fd;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
}

 [id^=btn-]{
    background-color: #ba1e68;
    color: white;
}
[id^=btn-]:hover {
    background-color: #7649fe;
}

p {
    order: 2;
    color: #0fa;
}

img {
    order: 3;
}

footer {
    text-align: center;
}

h1 {
    text-align: center;
}

.neonText {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;

        font-family: 'Roboto Mono', monospace;
        -webkit-text-stroke: 1px white;
  }